---
const personalImageAlt = "Jairo Gutiérrez";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy Jairo, Comencé mi carrera profesional dentro del ámbito de las
      artes audiovisuales, pero con el paso del tiempo encontré lo que realmente
      me apasiona y decidí redirigir mi trayectoria hacia el desarrollo web, un
      sector donde puedo unir mi <strong
        >pasión por la programación y el diseño.</strong
      >
    </p>

    <p>
      Siempre me ha atraído el <strong>mundo de la tecnología</strong> y los videojuegos.
      En cuanto pude, realicé el montaje de un ordenador personal. Me encanta estar
      al día de las novedades en el mundo del <strong
        >hardware electrónico.</strong
      >
    </p>

    <p>
      Dentro de mis estudios, <strong>mi trabajo de fin de grado</strong> consistió
      en liderar la creación y despliegue de una aplicación web mediante <strong
        >React y .NET.</strong
      > En estos proyectos pude entender a fondo el funcionamiento y proceso de diseño
      de una aplicacion web.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
